body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #1A231F;
}

.topnav a {
  float: left;
  display: block;
  color: #FABA1B;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #1AA7D8;
  color: black;
}

.topnav a.active {
  background-color: #36C2F3;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
body, html {
  height: 100%;
}

.parallax {
  /* The image used */
  background-image: url('https://i.pinimg.com/originals/b8/ab/9f/b8ab9f1b152a1f8567b2f915b685c1e5.gif');

  /* Full height */
  height: 400%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  
}
.parallax2{
  /* The image used */
  background-image: url('https://www.gifcen.com/wp-content/uploads/2021/05/goku-gif-7.gif');

  /* Full height */
  height: 400%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  
}
.parallax3{
  /* The image used */
  background-image: url('https://i.pinimg.com/originals/79/e2/f0/79e2f0065476fd67c908506ef486b778.gif');

  /* Full height */
  height: 400%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  
}
